/* .dark {
  --bg-body: var(--dark-body);
  --bg-main: var(--dark-main);
  --bg-second: var(--dark-second);
  --color-hover: var(--dark-hover);
  --color-txt: var(--dark-text);
}

.light {
  --bg-body: var(--light-body);
  --bg-main: var(--light-main);
  --bg-second: var(--light-second);
  --color-hover: var(--light-hover);
  --color-txt: var(--light-text);
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  height: 100vh;
  position: absolute;
  top: 1rem;
  left: 33.1rem;
  display: flex;
  justify-content: end;
  font-family: sans-serif;
  background-color: var(--bg-body);
}

.calendar {
  height: max-content;
  width: max-content;
  display: grid;
  justify-items: end;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px;
  position: relative;
  overflow: hidden;
}

.light .calendar {
  box-shadow: 2px 2px 2px 2px rgba(100, 100, 111, 0.2);
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  color: #000;
  padding: 10px;
}

.calendar-body {
  padding: 10px;
}

.calendar-week-day {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
  height: 3rem;
}

.calendar-week-day div {
  display: grid;
  place-items: center;
  color: #79788c;
}

.calendar-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 2px;
  color: #000;
}

.calendar-days div {
  width: 50px;
  height: 50xp;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
}

.month-picker:hover {
  background-color: rgb(182, 179, 179);
}

.year-picker {
  display: flex;
  align-items: center;
}

.year-change {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: rgb(182, 179, 179);
}

.calendar-footer {
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toggle {
  display: flex;
}

.toggle span {
  margin-right: 10px;
  color: #000;
}

.dark-mode-switch {
  position: relative;
  width: 48px;
  height: 25px;
  border-radius: 15px;
  background-color: rgb(168, 167, 167);
  cursor: pointer;
}

.dark-mode-switch-ident {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background-color: whitesmoke;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
  top: 2px;
  left: calc(2px + 50%);
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: #000;
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: #000;
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  transition-delay: 0.6s;
}
